---
interface Props {
  stats: { amount: string; title: string }[];
}

const { stats } = Astro.props;
---

<div
  class="relative mx-auto max-w-7xl px-4 md:px-6 py-12 md:py-16 lg:py-20 text-default intersect-once intersect-quarter intercept-no-queue motion-safe:md:intersect:animate-fade"
>
  <div class="flex flex-wrap justify-center -m-4 text-center">
    {
      stats &&
        stats.map(({ amount, title }) => (
          <div class="p-4 md:w-1/4 sm:w-1/2 w-full min-w-[220px] text-center md:border-r md:last:border-none md:border-slate-500 intersect-once motion-safe:md:intersect:animate-fade intersect-quarter">
            {amount && (
              <div class="font-heading text-primary text-[2.6rem] font-bold text-white lg:text-5xl xl:text-6xl">
                {amount}
              </div>
            )}
            {title && (
              <div class="text-sm font-medium uppercase tracking-widest text-gray-800 text-slate-400 lg:text-base">
                {title}
              </div>
            )}
          </div>
        ))
    }
  </div>
</div>
