---
interface Props {
  filled: boolean;
}
const { filled } = Astro.props;
---

<div class="w-6 h-8 p-2">
  {
    filled ? (
      <svg
        width="16"
        height="16"
        viewBox="0 0 16 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M7.04897 1.92696C7.34897 1.00596 8.65197 1.00596 8.95097 1.92696L10.021 5.21896C10.0863 5.41944 10.2134 5.59414 10.384 5.71806C10.5547 5.84199 10.7601 5.9088 10.971 5.90896H14.433C15.402 5.90896 15.804 7.14896 15.021 7.71896L12.221 9.75296C12.05 9.87699 11.9227 10.052 11.8573 10.2528C11.7919 10.4537 11.7918 10.67 11.857 10.871L12.927 14.163C13.227 15.084 12.172 15.851 11.387 15.281L8.58697 13.247C8.41618 13.123 8.21053 13.0562 7.99947 13.0562C7.78842 13.0562 7.58277 13.123 7.41197 13.247L4.61197 15.281C3.82797 15.851 2.77397 15.084 3.07297 14.163L4.14297 10.871C4.20815 10.67 4.20803 10.4537 4.14264 10.2528C4.07725 10.052 3.94994 9.87699 3.77897 9.75296L0.979974 7.71996C0.196974 7.14996 0.599974 5.90996 1.56797 5.90996H5.02897C5.24002 5.91001 5.44568 5.84329 5.6165 5.71935C5.78732 5.59541 5.91455 5.42061 5.97997 5.21996L7.04997 1.92796L7.04897 1.92696Z"
          fill="currentColor"
          stroke="currentColor"
        />
      </svg>
    ) : (
      <svg
        width="17"
        height="16"
        viewBox="0 0 17 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M7.48257 1.69075C7.78257 0.76975 9.08557 0.76975 9.38457 1.69075L10.4546 4.98275C10.5199 5.18324 10.647 5.35793 10.8176 5.48185C10.9883 5.60578 11.1937 5.67259 11.4046 5.67275H14.8666C15.8356 5.67275 16.2376 6.91275 15.4546 7.48275L12.6546 9.51675C12.4836 9.64078 12.3563 9.81576 12.2909 10.0166C12.2255 10.2174 12.2254 10.4338 12.2906 10.6348L13.3606 13.9268C13.6606 14.8478 12.6056 15.6148 11.8206 15.0448L9.02057 13.0107C8.84977 12.8868 8.64413 12.82 8.43307 12.82C8.22201 12.82 8.01636 12.8868 7.84557 13.0107L5.04557 15.0448C4.26157 15.6148 3.20757 14.8478 3.50657 13.9268L4.57657 10.6348C4.64174 10.4338 4.64163 10.2174 4.57623 10.0166C4.51084 9.81576 4.38354 9.64078 4.21257 9.51675L1.41357 7.48375C0.630568 6.91375 1.03357 5.67375 2.00157 5.67375H5.46257C5.67362 5.67381 5.87927 5.60709 6.05009 5.48315C6.22091 5.35921 6.34814 5.1844 6.41357 4.98375L7.48357 1.69175L7.48257 1.69075Z"
          stroke="currentColor"
        />
      </svg>
    )
  }
</div>
